<ng-container matColumnDef="position">
  <th mat-header-cell *matHeaderCellDef>No.</th>
  <tr mat-cell *ngFor="let produto of produtos">
    <td>{{ produto.position }}</td>
    <td>{{ produto.price }}</td>
    <td>{{ produto.inventory }}</td>
    <td>{{ produto.provider }}</td>
    <td>{{ produto.measure }}</td>
    <td>{{ produto.active }}</td>
  </tr>
</ng-container>

<!-- <ng-container matColumnDef="description">
  <th mat-header-cell *matHeaderCellDef>Description</th>
  <td mat-cell *ngFor="let produto of produtos">{{ produto.description }}</td>
</ng-container>

<ng-container matColumnDef="price">
  <th mat-header-cell *matHeaderCellDef>Price</th>
  <td mat-cell *ngFor="let produto of produtos">{{ produto.price }}</td>
</ng-container>

<ng-container matColumnDef="inventory">
  <th mat-header-cell *matHeaderCellDef>Inventory</th>
  <td mat-cell *ngFor="let produto of produtos">{{ produto.inventory }}</td>
</ng-container>

<ng-container matColumnDef="measure">
  <th mat-header-cell *matHeaderCellDef>Unit of measurement</th>
  <td mat-cell *ngFor="let produto of produtos">{{ produto.measure }}</td>
</ng-container>

<ng-container matColumnDef="provider">
  <th mat-header-cell *matHeaderCellDef>Provider</th>
  <td mat-cell *ngFor="let produto of produtos">{{ produto.provider }}</td>
</ng-container>

<ng-container matColumnDef="active">
  <th mat-header-cell *matHeaderCellDef>Active</th>
  <td mat-cell *ngFor="let produto of produtos">{{ produto.active }}</td>
  <section class="example-section"></section>
</ng-container> -->

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

<!-- <thead>
  <tr>
    <td>Descrição</td>
    <td>Preço</td>
    <td>Inventario</td>
    <td>Fornecedor/td></td>
    <td>Unidade de Medida</td>
    <td>Ativo</td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let produto of produtos">
    <td>
      {{ produto.description }}
    </td>
    <td>
      {{ produto.price }}
    </td>
    <td>
      {{ produto.inventory }}
    </td>
    <td>
      {{ produto.provider }}
    </td>
    <td>
      {{ produto.measure }}
    </td>
    <td>
      {{ produto.active }}
    </td>
  </tr>
</tbody> -->
