<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Inventory</mat-label>
    <input matInput placeholder="Inventory" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Unit of measurement</mat-label>
    <mat-select>
      <mat-option *ngFor="let unit of units" [value]="unit.value">
        {{unit.viewValue}}
      </mat-option>
    </mat-select>  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Provider</mat-label>
    <input matInput placeholder="Provider" value="" />
  </mat-form-field>

  <mat-radio-group aria-label="Select an option">
    <mat-label>Select an option:</mat-label>
    <mat-radio-button value="1">Active</mat-radio-button>
    <mat-radio-button value="2">Not active</mat-radio-button>
  </mat-radio-group>
</form>
